#topborder{
    border: 1px solid;
    height: 20px;
    background-color: black;
    color:azure;
    border-radius: 2px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 0px;
}
#toptext{
    padding: 1px;
    margin-top: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#collegetitle{
    border: 2px solid black;
    background-color: white;
    height: 120px;
    border-radius: 2px;
    padding-top:5px ;
    margin-bottom: 1px;
}
#collegetitle2{
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: red;
}
#collegetitle3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 35px;
    color: #4b238a;
    top: 500px;
}
#logo{
    float: left;
}
#collegedetails{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: red;
}
#news{
    border: 1px solid;
    height: 20px;
    background-color: rgb(35, 66, 143);
    color: azure;
    border-radius: 4px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 2px;

}
body{
    background-color:aliceblue;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;  
}
#report{
    border: 2px solid;
    height: 50px;
    width: 600px;
    background-color: azure;
    border-radius: 10px;
    margin-left: 320px;
    color: black;

}
#report1{
    border: 1px solid azure;
    height: 280px;
    width: 830px;
    background-color: rgb(151, 186, 250);
    margin-left: 220px;
    border-radius: 10px;
    box-shadow: 3px 5px 7px;


}
#month{
    border: 1px solid black;
    height: 40px;
    width: 120px;
    margin-left: 350px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: azure;
    text-align: center;

}
#reporttable{
    margin-left: 50px;
    margin-top: 20px;
    background-color: azure;
    border-radius: 5px;
    box-sizing: content-box;
}
#percentage{
    border: 2px solid azure;
    background-color: azure;
    height: 40px;
    width: 730px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: 3px 5px 7px;
    margin-top: 20px;
}
#percent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 9px;
    text-align: center;

}
#trump{
    margin-left: 550px;
    top: 10px;
    left: 20px;
}
.logo3{
    margin-left: 50px;
    float: left;
    margin-top: 20px;
    border-radius: 3px;
    margin-right: 8px;
}
#credits{
    border: 1px solid;
    height: 350px;
    background-color: rgb(20, 18, 18);
    border-radius: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color:white;
    margin-top: 150px;
}
